target/
node_modules/
examples/blink_arduino/build/
examples/blink_standalone/build/
examples/blink_test/
third_party/unicorn/
*.bin
*.o
*.elf
third_party/alexaltea-unicorn-js-*.tgz
examples/serial_echo_test/build/
examples/timer_serial_test/build/
tests/arduino_periph_test/build/core/
tests/arduino_periph_test/build/libraries/
tests/arduino_periph_test/build/sketch/
tests/arduino_periph_test/build/*.cache
tests/arduino_periph_test/build/*.log
tests/arduino_echo/build/
tests/arduino_fade/build/
tests/arduino_periph_test/build/compile_commands.json
tests/arduino_periph_test/build/build.options.json
tests/arduino_timer_uart/build/core/
tests/arduino_timer_uart/build/libraries/
tests/arduino_timer_uart/build/sketch/
tests/arduino_timer_uart/build/*.cache
tests/arduino_timer_uart/build/*.log
tests/arduino_timer_uart/build/compile_commands.json
tests/arduino_timer_uart/build/build.options.json
tests/arduino_adc_uart/build/core/
tests/arduino_adc_uart/build/libraries/
tests/arduino_adc_uart/build/sketch/
tests/arduino_adc_uart/build/*.cache
tests/arduino_adc_uart/build/*.log
tests/arduino_adc_uart/build/compile_commands.json
tests/arduino_adc_uart/build/build.options.json
tests/arduino_flash_demo/build/core/
tests/arduino_flash_demo/build/libraries/
tests/arduino_flash_demo/build/sketch/
tests/arduino_flash_demo/build/*.cache
tests/arduino_flash_demo/build/*.log
tests/arduino_flash_demo/build/compile_commands.json
tests/arduino_flash_demo/build/build.options.json
